html {
    /* для того, чтобы размеры элементов не росли */
    box-sizing: border-box;
}

/* Чтобы у всех элементо размеры были как у родителей */
*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    /* Чтобы цвет ссылок был как у шрифта всего документа и чтоб не курсивом  */
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: "OpenSans";
    /* меняем url на local чтобы, если на устройстве уже есть эти шрифты, тогда использовались они */
    src: local("OpenSans-Regular"),
        url("../fonts/OpenSansRegular.woff2") format("woff2"),
        url("../fonts/OpenSansRegular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    /* меняем url на local чтобы, если на устройстве уже есть эти шрифты, тогда использовались они */
    src: local("OpenSans-Ligth"),
        url("../fonts/OpenSansLight.woff2") format("woff2"),
        url("../fonts/OpenSansLight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    /* меняем url на local чтобы, если на устройстве уже есть эти шрифты, тогда использовались они */
    src: local("OpenSans-SemiBold"),
        url("../fonts/OpenSansSemiBold.woff2") format("woff2"),
        url("../fonts/OpenSansSemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body {
    /* чтобы body было по середине */
    min-width: 1200px;
    font-family: "OpenSans", sans-serif;
    font-weight: 400;
}

/* glob */

/* Для сброса визуальных атрибутов списков */
.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Для сброса стилей кнопок */
.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* Дополнительный класс */
.flex {
    display: flex;
}

/* Дополнительный класс для всех секций */
.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.section-title {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 300;
    font-size: 36px;
    line-height: 130%;
    color: #1C1C1C;
}

.section-descr {
    margin: 0;
    margin-bottom: 50px;
    color: #787878;
}

.section-offset {
    padding-top: 87px;
    padding-bottom: 160px;
}

/* Header */

.header {
    padding: 36px 0;
    border-bottom: 1px solid #c4c4c4;
    background-color: #fff;
}

.header-link {
    font-weight: 600;
    color: #1C1C1C;
    font-size: 15px;
}

.header-container {
    align-items: center;
}

.header-logo {
    margin-right: auto;
}

.header-nav {
    margin-right: 52px;
}

.header-list-item:not(:last-child) {
    margin-right: 52px;
}

.btn {
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    padding: 15px 35px;
    background-color: #3172B9;
    color: #fff;
    border-radius: 3px;
}

/* .Hero */

.hero {
    padding-top: 100px;
    padding-bottom: 150px;
    background-image: url(../img/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-content {
    max-width: 50%;
    flex-direction: column;
    align-items: flex-start;
}

.hero-title {
    margin: 0;
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 40px;
    line-height: 130%;
}

.hero-descr {
    margin: 0px;
    margin-bottom: 34px;
    font-size: 16px;
    line-height: 155%;
    color: #787878;
}

.hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-btn {
    margin-bottom: 14px;
    min-width: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 14px;
}

.hero-secure {
    font-size: 11px;
    line-height: 155%;
    color: #787878;
    text-transform: uppercase;
    background-image: url(../img/secure.svg);
    background-position: left center;
    background-size: 14px 17px;
    background-repeat: no-repeat;
    padding-left: 30px;
}

/* Services */

.services {
    border-bottom: 1px solid #E4E4E4;
}

.services-title {
    text-align: center;
}

.services-descr {
    text-align: center;
}

.services-item {
    flex-direction: column;
    align-items: center;
    padding: 60px 30px;
    width: 270px;
    border: 1px solid #E4E4E4;
    border-radius: 5px;

}

.services-item:not(:nth-child(4n)) {
    margin-right: 30px;
}

.services-item-icon {
    margin-bottom: 25px;
}

.services-item-title {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: #1C1C1C;
}

.services-item-descr {
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #787878;
}

/* Articles */

.articles {
    border-bottom: 1px solid #DADADA;
}

.articles-list {
    flex-wrap: wrap;
}

.articles-item {
    width: 570px;
    margin-bottom: 30px;
}

.articles-item:not(:nth-child(2n)) {
    margin-right: 30px;
}

.blog-preview {
    /* ДЛЯ ОБРЕЗАНИЯ КАРТИНОК БОРДЕРОМ */
    overflow: hidden;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
}

/* Новое!!! Для картинок */
.blog-preview-image {
    object-fit: cover;
}

.blog-preview-text {
    padding: 30px;
}

.blog-preview-time {
    display: block;
    margin-bottom: 5px;
    font-size: 10px;
    line-height: 150%;
    color: #787878;
}

.blog-preview-title {
    margin: 0;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 130%;
    color: #1C1C1C;
}

.blog-preview-descr {
    margin: 0;
    font-size: 14px;
    line-height: 150%;
    color: #787878;
    min-width: 210px;
}

/* clients */

.clients {
    border-bottom: 1px solid #DADADA;
}

.clients-item {
    flex-direction: column;
    width: 370px;
    padding: 50px 36px;
    padding-bottom: 30px;
    border: 1px solid #E4E4E4;
}

.clients-item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.clients-item-descr {
    margin: 0;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 180%;
    color: #787878;
}

.clients-user {
    margin-top: auto;
    align-items: center;
    border-top: 1px solid #DADADA;
    width: 100%;
    padding-top: 28px;
}

.clients-avatar {
    /* "Flex-shrink: 0;" - чтобы изображение не сжималось */
    flex-shrink: 0;
    width: 67px;
    margin-right: 17px;
}
/* Для того чтобы применить стили только для изображения данного дива */
.clients-avatar img {  
    width: 100%;
    height: 100%;
    border: 2px solid #3172B9;
    border-radius: 100%;
}

.clients-name {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 17px;
    line-height: 180%;
    color: #1C1C1C;
}

.clients-post {
    font-size: 14px;
    line-height: 180%;
    color: #787878;
}

/* contacts */

.contacts {
    border-bottom: 1px solid #DADADA;
}

.contacts-adress {
    font-style: normal;
}

.contacts-item {
    flex-direction: column;
    width: 370px;
/* Для позиционирования изображений (бекграунда) */
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 29px 29px;
    padding-top: 48px;
}

.contacts-item-address {
    background-image: url(../img/location_on.svg)
}

.contacts-item-call {
    background-image: url(../img/phone.svg);
}

.contacts-item-mail {
    background-image: url(../img/mail.svg);
}

.contacts-item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.contacts-item-caption {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 17px;
    line-height: 180%;
    color: #1C1C1C;
}

.contacts-item-text {
    margin: 0;
    width: 215px;
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: #787878;
}

.contacts-item-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: #787878;
}

/* Join-us */

.join-us-title {
    text-align: center;
}

.join-us-descr {
    text-align: center;
    margin-bottom: 30px;
}

.form {
    padding-left: 55px;
    padding-right: 55px;
}

.form-input {
    border: 1px solid #DADADA;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 16px 28px;
    width: 251px;
    height: 60px;
}

/* у нижнего ряда нет margin-bottom */
.form-input:nth-child(-n+2) {
    margin-bottom: 19px;
}

.form-select {
    border: 1px solid #DADADA;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 16px 28px;
    width: 251px;
    height: 60px;
}
.form-textarea {
    border: 1px solid #DADADA;
    box-sizing: border-box;
    border-radius: 20px;
    /* чтобы не изменялся размер блока */
    resize: none;
    padding: 16px 28px;
    width: 100%;
    height: 100%;
}

.form-top {
    display: flex;
    justify-content: space-between;
}

.form-left {
    width: 49%;
    display: flex;
    /* при переполнении для переноса */
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-right {
    width: 49%;
}

/* footer */

.footer {
    padding: 42px 0;
}

.footer-copy {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #787878;
}

.footer-link {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #787878;
}

.footer-container {
    align-items: center;
    /* чтобы два дива прижались к разным сторонам */
    justify-content: space-between;
}


.footer-left,
.footer-right {
    align-items: center;
}

.footer-logo {
    margin-right: 25px;
}

.footer-item:not(:last-child) {
    margin-right: 28px;
}

.footer-nav {
    margin-right: 56px;
}

.social-link {
    display: block;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.social-item:not(:last-child) {
    margin-right: 32px;
}

.social-link-twitter {
    background-image: url(../img/twitter.svg);
}

.social-link-linkedin {
    background-image: url(../img/linkedin.png);
}

.social-link-mail {
    background-image: url(../img/footer_mail.svg);
}